<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>

  <title th:text="#{siteName}"></title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="ltr/bootstrap/dist/css/bootstrap.min.css"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link rel="stylesheet" type="text/css" href="ltr/font-awesome/css/font-awesome.min.css"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="css/lib/landing-style.css"/>
  <!-- responsive style -->
  <link rel="stylesheet" type="text/css" href="css/lib/landing-responsive.css"/>

</head>

<body>

<div class="hero_area">

  <div class="hero_bg_box">
    <div class="bg_img_box">
      <img src="images/hero-bg.png" alt="">
    </div>
  </div>

  <!-- header section strats -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
            <span th:text="#{siteName}"></span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item active">
              <a class="nav-link" href="javascript:goToByScroll('.header_section')">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:goToByScroll('.about_section')"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:goToByScroll('.service_section')">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:goToByScroll('.how_section')">How Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:goToByScroll('.plan_section')">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
            </li>
            <form class="form-inline">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section " id="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-6 ">
                <div class="detail-box">
                  <h1>
                    Make earning money<br>
                    easy with us
                  </h1>
                  <p>
                    Arbitrage Broker allows you to earn income effortlessly just by inviting your friends.
                    Why keep the profit to yourself? Let your friends step into the world of cryptocurrencies, and you can take advantage of this opportunity as well.
                  </p>
                  <div class="btn-box">
                    <a href="#service_section" class="btn1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-6 ">
                <div class="detail-box">
                  <h1>
                    How does it work?
                  </h1>
                  <p>
                    Level 1: For every user you refer, you earn 18% of the arbitrage profit from their activities.<br>
                    Level 2: You also receive 10% of the arbitrage profit from the users your friends refer.
                  </p>
                  <div class="btn-box">
                    <a href="#how_section" class="btn1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-6 ">
                <div class="detail-box">
                  <h1>
                    Why Choose Us?
                  </h1>
                  <p>
                    <strong>Sustainable and Attractive Profit: </strong> As your network grows, your income increases exponentially.
                  </p>
                  <p>
                    <strong>Easy and Hassle-Free: </strong> Simply refer and earn.
                  </p>
                  <div class="btn-box">
                    <a href="#W" class="btn1">
                      Read More
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel1" data-slide-to="1"></li>
        <li data-target="#customCarousel1" data-slide-to="2"></li>
      </ol>
    </div>

  </section>
  <!-- end slider section -->
</div>


<!-- service section -->

<section class="service_section layout_padding" id="service_section">
  <div class="service_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Our <span>Services</span>
        </h2>
        <p>
          Our services focus on providing cutting-edge arbitrage trading solutions, leveraging advanced algorithms to maximize profitability. With seamless arbitrage bot and real-time market analysis, we ensure efficient, secure, and reliable trading across multiple exchanges.
        </p>
      </div>
      <div class="row">
        <div class="col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="images/w3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Arbitrage Bot
              </h5>
              <p>
                fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The
                point of using
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <i class="fa fa-trophy" style="font-size: 70px"></i>
            </div>
            <div class="detail-box">
              <h5>
                Referral Reward
              </h5>
              <p>
                fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The
                point of using
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Expert Support
              </h5>
              <p>
                We proudly provide specialized support services to ensure you have a seamless and worry-free experience.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/ourservices">
          View All
        </a>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->


<!-- about section -->

<section class="about_section layout_padding" id="about_section">
  <div class="container  ">
    <div class="heading_container heading_center">
      <h2>
        About <span>Us</span>
      </h2>
      <p>
        Arbitrage Broker, founded in 2019, operates 100 advanced bots to deliver seamless, error-free cryptocurrency trading for users worldwide.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>
            Who We Are
          </h3>
          <p>
            An arbitrage bot is an advanced algorithm that automates cryptocurrency trading by exploiting price discrepancies across different exchanges. It enables traders to buy an asset at a lower price on one exchange and sell it at a higher price on another, generating consistent profits with minimal human intervention and reduced risk.
          </p>
          <p>
            Cryptocurrency arbitrage capitalizes on price differences of an asset across markets, involving buying low in one market and selling high in another to profit from the spread. Bots quickly exploit these opportunities caused by market fluctuations, ensuring price alignment and consistent gains.
          </p>
          <a href="/aboutus">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- How section -->

<section class="how_section layout_padding" id="how_section">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        How Does it <span>Work</span>
      </h2>
    </div>
    <div class="why_container">
      <div class="box">
        <div class="row">
          <div class="col-md-6">
            <p class="number">/01</p>
            <h3>How to make Arbitrage</h3>
            <p>It’s easy. Just click “Arbitrage Bot” menu item from the menu bar. Then click on “Buy/Sell“ button of each Order.</p>
          </div>
          <div class="col-md-6">
            <div class="tablet-frame">
              <img src="images/ss-arbitrage.png">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 2rem">
          <div class="col-md-6">
            <div class="mobile-frame">
              <img src="images/ss-referral-reward.png">
            </div>
          </div>
          <div class="col-md-6">
            <p class="number">/02</p>
            <h3>How to earn or claim referral rewards</h3>
            <p>It’s easy. Just click “Referral Reward” menu item from the menu bar. Then click on “Claim” button to earn referral reward.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- end why section -->

<!-- team section -->
<section class="plan_section layout_padding" id="plan_section">
  <div class="container-fluid">
    <div class="heading_container heading_center">
      <h2 class="">
        Our <span> Plan</span>
      </h2>
    </div>

    <div class="team_container">
      <div class="row">
        <th:block th:if="${subscriptionPackages != null && subscriptionPackages.size > 0}">
          <th:block th:each="s: ${subscriptionPackages}">
            <div class="col-lg-3 col-sm-6">
              <div class="box ">
                <div class="">
                  <h5 th:text="${s.name}"></h5>
                  <p th:text="${#numbers.formatDecimal(s.price, 0, 'COMMA', 0, 'POINT')} + ' ' + ${s.currency}"></p>
                </div>
                <div class="detail-box">
                  <table>
                    <tbody>
                    <tr>
                      <td><i th:class="'fa ' + ${s.name == 'Free' ? 'fa-times' : 'fa-check'}"></i></td>
                      <td>Allow withdrawal</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>Order count <strong th:text="${s.orderCount}"></strong> times</td>
                    </tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>Trading reward between (<strong th:text="|${#numbers.formatDecimal(s.minTradingReward, 1, 'NONE', 2, 'POINT')} - ${#numbers.formatDecimal(s.maxTradingReward, 1, 'NONE', 2, 'POINT')}|"></strong>) <th:block th:text="${s.currency}"/></td>
                    </tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>User profit percentage (<strong th:text="${s.userProfitPercentage} + '%'"></strong>)</td>
                    </tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>Site profit percentage (<strong th:text="${s.siteProfitPercentage} + '%'"></strong>)</td>
                    </tr>
                      <td><i class="fa fa-check"></i></td>
                      <td th:utext="${s.duration >= 0 ? 'Will Expire in (<strong>'+s.duration+'</strong>) days' : 'Has <strong>no</strong> expiration date'}"></td>
                    </tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>Parent referral bonus <strong th:text="${#numbers.formatDecimal(s.parentReferralBonus, 0, 'COMMA', 2, 'POINT')}"></strong> <th:block th:text="${s.currency}"/></td>
                    </tr>
                      <td><i class="fa fa-check"></i></td>
                      <td>Maximum acceptable amount <strong th:text="${#numbers.formatDecimal(s.maxPrice, 0, 'COMMA', 2, 'POINT')}"></strong> <th:block th:text="${s.currency}"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="">
                    <div class="btn-box">
                      <a href="/arbitrage">
                        Get Started
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th:block>
        </th:block>
      </div>
    </div>
  </div>
</section>
<!-- end team section -->


<!-- client section -->

<section class="client_section layout_padding" id="client_section">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>
        What says our <span>Customers</span>
      </h2>
    </div>
    <div class="carousel-wrap ">
      <div class="owl-carousel client_owl-carousel">
        <div class="item">
          <div class="box">
            <div class="img-box">
              <img src="images/team-1.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    John Trader
                  </h6>
                  <p>
                    United States
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                As a seasoned cryptocurrency trader, I’ve always looked for ways to maximize my profits with minimal effort. Using this arbitrage bot has been a game-changer! It quickly identifies price discrepancies across exchanges and executes trades faster than I ever could. My profits have become more consistent, and I can focus on growing my portfolio without worrying about missing opportunities.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="img-box">
              <img src="images/team-2.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Sophia M
                  </h6>
                  <p>
                    Britain
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                Getting started in cryptocurrency was intimidating at first, but this arbitrage bot simplified everything for me. It does all the heavy lifting, from spotting opportunities to executing trades. Now, I’m making steady profits without needing deep market knowledge or constant monitoring. It’s the perfect tool for beginners looking to earn in the crypto world.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="img-box">
              <img src="images/client1.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Raj P
                  </h6>
                  <p>
                    India
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                I’ve tried several trading tools, but this arbitrage bot stands out. Its precision and speed in exploiting price differences across exchanges are unmatched. The seamless automation ensures that I never miss out on profitable trades, even when I’m asleep. It’s like having a 24/7 trading assistant that’s always one step ahead.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="img-box">
              <img src="images/client2.jpg" alt="" class="box-img">
            </div>
            <div class="detail-box">
              <div class="client_id">
                <div class="client_info">
                  <h6>
                    Emma L
                  </h6>
                  <p>
                    United States
                  </p>
                </div>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </div>
              <p>
                With my background in finance, I understand the potential of arbitrage trading, but executing it manually is nearly impossible. This bot has completely transformed my approach. Its sophisticated algorithm ensures maximum efficiency, and the results speak for themselves. I’ve seen impressive gains with minimal risk, making it an essential part of my trading strategy.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end client section -->


<!-- info section -->

<section class="info_section layout_padding2" id="info_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 info_col">
        <div class="info_contact">
          <h4>
            Address
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  Location
                </span>
            </a>
            <a th:href="'support@'+#{siteUrl}">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span th:text="'support@'+#{siteUrl}"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto info_col">
        <div class="info_link_box">
          <h4>
            Links
          </h4>
          <div class="info_links">
            <a class="active" href="javascript:goToByScroll('.header_section')">
              Home
            </a>
            <a class="" href="javascript:goToByScroll('.about_section')">
              About
            </a>
            <a class="" href="javascript:goToByScroll('.service_section')">
              Services
            </a>
            <a class="" href="javascript:goToByScroll('.how_section')">
              How Work
            </a>
            <a class="" href="javascript:goToByScroll('.plan_section')">
              Plan
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 info_col ">
        <h4>
          Subscribe
        </h4>
        <form action="#">
          <input type="text" placeholder="Enter email" />
          <button type="button" onclick="loadPages('/login#signup')">
            Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- end info section -->

<!-- footer section -->
<section class="footer_section" id="footer_section">
  <div class="container">
    <p>
      &copy;2019 All Rights Reserved By
      <a th:href="#{siteUrl}" th:text="#{siteName}"></a>
    </p>
  </div>
</section>
<!-- footer section -->

<!-- jQery -->
<script type="text/javascript" src="ltr/jquery/dist/jquery.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="ltr/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script type="text/javascript" src="js/lib/landing-custom.js"></script>
<!-- End Google Map -->

</body>
</html>